{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Сільпо</title>
  <link rel="stylesheet" href="{% static 'TronHTML/CSS/main.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
</head>

<body>
    <div class = blok>
      <div class="container", style = "text-align: right;">
        <div style= "color: rgb(255, 196, 0);margin-right: 260px"><b><h1>TRON</h1></b></div>

            
               <div  class="tron"  style="  justify-content: left; text-align: left;">
              <img src="Screenshot 2025-10-23 203613.png" alt="Изображение" class="float:left;">
            </div>


            

        <li><a class="nav-link" href=""><section class="inf", style="text-align: end;">
           <img src="завантаження.jpg" alt="Изображение" style=" width: 50px;height: auto; margin-right: 13px; ">
        </section></a></li>
        

        <li><a class="nav-link" href=""><section class="inf2">
            <img src="y2k-flip-phone-pink-cute-phone-2000s-aesthetic-retro-nostalgia_741683-33.jpg" alt="Изображение" style=" width: 50px;height: auto; margin-left: 15px; ">
        </section></a></li>

        <li><a class="nav-link" href=""><section class="inf3">
            <img src="завантаження.png" alt="Изображение" style=" width: 50px;height: auto; margin-left: 15px; ">
        </section> </a></li>

        <li><a class="nav-link" href=""><section class="inf4">
            <img src="4015916b-3a8c-11e1-9c95-93920b480e95.webp" alt="Изображение" style=" width: 50px;height: auto; margin-left: 15px; ">
        </section></a></li>
        </div>

    </div>
    </div>
  <div class = blokt>
    <div class="containe">
           

         <li><a class="nav-link" href="" style="text-decoration: none;"><section class="info">
            <img src="Без названия.jpg" alt="Про нас" >
            <b> <h3>Товари з Європи</h3></b>
            <b><p>Я не пам’ятаю тому молитва: Отче наш, що єси на небесах!</p></b>
        </section></a></li>

         <li><a class="nav-link" href="" style="text-decoration: none;"><section class="info2">
            <img src="Без названия (1).jpg" alt="Контакти">
            <b><h3>згоревшие товари</h3></b>
            <b><p>Я навіть головний текст забув, тому ось такі справи </p></b>
        </section></a></li>

         <li><a class="nav-link" href="" style="text-decoration: none;"><section class="info3" >
            <img src="Без названия (2).jpg" alt="Підтримка">
            <b><h3>Рука в рабство</h3></b>
            <b><p>Всі хто хоче до нас запрошуємо малекнькі зарплати і великі затримки</p></b>
        </section></a></li>
        
    </div>
   </div>
   <div class="blok2">
   <div class = "refer"><a class="serse" href="register/"> sign in     </a>
       <a class="sers" href="login/"> sign up    </a></div>
   </div>
</body>
</html>